/* Fonts and Colour Scheme*/
@font-face {
  font-family: "mon-bold";
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "mon-reg";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "mon-semi-bold";
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

:root {
  /* Default Colors */
  --background-color: #242423;
  --main-color: #00b7b7;
  --text-color: #f5f5f5;
  --alt-text: #cccbcb;
  --highlight: #a833b9;

  /* Flip Colors */
  --background-colors-flip: #00b7b7;
  --text-color-flip: #242423;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

::selection {
  background: var(--highlight);
}

::-moz-selection {
  background: var(--highlight);
}

/* Styles */

* {
  margin: 0;
  padding: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  background-color: var(--background-colors-flip);
  font-size: 16px;
  font-family: "mon-reg";
}

h1,
h2 {
  color: var(--main-color);
  font-family: "mon-bold";
  margin: 3% 0;
  user-select: none;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.3em;
  font-family: "mon-semi-bold";
  margin: 1% 0;
}

p {
  margin: 3% 0;
  padding-right: 10%;
  font-size: 1.1em;
}

.btn-cv {
  background-color: transparent;
  padding: 15px 60px;
  outline: none;
  border: 1px solid var(--main-color);
  font-size: 1.1em;
  font-family: "mon-semi-bold";
  color: var(--text-color);
  margin: 5% 0;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
  user-select: none;
}

.btn-cv:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: #000;
}

#title {
  background-color: var(--background-color);
  background-image: url("./images/pp2.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: bottom right;
  color: var(--text-color);
  height: 110vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  margin: 0 5%;
}

#about {
  margin: 10% 0;
}

.col {
  width: 35%;
  padding: 0 15%;
}

#skills {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.skills-height {
  height: 0vh;
}

.animate {
  animation: expand 0.5s ease-in-out;
  height: 50vh;
}

@keyframes expand {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}

.skills-appear {
  opacity: 0;
}

.fade-in {
  animation: fade_in 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skills h2,
h4 {
  color: var(--text-color-flip);
}

.chart-container {
  position: relative;
  height: 40vh;
  width: 50%;
  font-size: 1.2em;
  margin: 1% 0;
}

#projects {
  height: 110vh;
  background-color: var(--background-color);
  clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
  margin: 0 5%;
  padding: 20% 15% 0 15%;
}

.projects-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.flex-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  width: 25%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.2s;
  color: var(--text-color);
  font-family: "mon-reg";
}

.card h3,
h4 {
  font-family: "mon-semi-bold";
  color: var(--main-color);
  user-select: none;
}

.card:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
}

.project-group {
  margin: 5% 0;
}

.project-img {
  width: 100%;
}

.flex-card {
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10% 0;
}

@keyframes move-right {
  0% {
    padding-left: 5px;
  }
  100% {
    padding-left: 20px;
  }
}

@keyframes move-left {
  0% {
    padding-right: 5px;
  }
  100% {
    padding-right: 20px;
  }
}

.link {
  color: var(--main-color);
  font-family: "mon-semi-bold";
  text-decoration: none;
}

.link:hover {
  color: var(--highlight);
  cursor: pointer;
}

.link-right:hover {
  animation-name: move-right;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.link-left:hover {
  animation-name: move-left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

#language-group {
  display: flex;
  flex-flow: row wrap;

  margin: 2% 0;
}

.lang {
  margin: 2% 5% 2% 0;
  font-size: 1.1em;
}
