/* Fonts and Colour Scheme*/
@font-face {
  font-family: "mon-bold";
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "mon-reg";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "mon-semi-bold";
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

:root {
  --background-color: #2e282a;
  --main-color: #e4572e;
  --text-color: #f5f5f5;
  --card-back: #272224;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #df4b1e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "mon-reg";
  font-size: 14px;
}

h1 {
  font-size: 3rem;
  color: var(--main-color);
  font-family: "mon-semi-bold";
}

h2,
h3 {
  color: var(--main-color);
  margin-bottom: 5%;
  font-family: "mon-bold";
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
}

.img-top {
  margin-top: 3%;
}

h4 {
  font-size: 1.2rem;
}

section {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10% 0;
}

.col {
  width: 50%;
}

.text-col {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-text {
  align-items: flex-start;
  padding: 0 20%;
  text-align: left;
}

.highlighted {
  background-color: var(--main-color);
}

.profile-pic {
  background-image: url("./images/pp2.png");
  background-repeat: no-repeat;
  background-position: right-bottom;
  background-size: 100%;
}

.icon-img {
  width: 50%;
}

.img-smaller {
  width: 30%;
}

.invert {
  color: var(--background-color);
}

.bold {
  font-family: "mon-bold";
  font-size: 2.5em;
}

.flex-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.card {
  padding: 30px;
  margin: 3%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: 20vh;
  height: 20vh;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
}

.trustblk {
  background-image: url("./images/TrustBLK.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#card-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
