@font-face {
  src: url("./fonts/OpenSans-ExtraBold.ttf");
  font-family: "OpenSans-Black";
}

@font-face {
  src: url("./fonts/OpenSans-Light.ttf");
  font-family: "OpenSans-Light";
}

@font-face {
  src: url("./fonts/OpenSans-SemiBold.ttf");
  font-family: "links";
}

@font-face {
  src: url("./fonts/harlowsolidplain.otf");
  font-family: "Uplink-logo";
}

@font-face {
  src: url("./fonts/Kanit-Black.ttf");
  font-family: "VIROLL-logo";
}

body {
  font-family: "OpenSans-Light";
  font-size: 1.4em;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0;
}

h1 {
  font-family: "OpenSans-Black";
  font-size: 3.3em;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "OpenSans-Black";
  font-size: 2.3em;
  padding: 10px;
  margin: 10px;
}

.fa-arrow-down {
  padding: 20px;
}

.fa-arrow-down:hover {
  cursor: pointer;
}

p {
  padding: 30px 0px;
}

a {
  text-decoration: none;
  font-family: "links";
  color: black;
  transition: 0.1s all ease-in-out;
}
a:hover {
  font-size: 1.1em;
}

.sub {
  padding: 0;
  margin: 0;
}

section {
  margin-top: 15%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  padding: 0;
  margin: 0;
}

hr {
  border-style: solid;
  border-color: #c2c2c2;
}

#about {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}

.img {
  padding: 20px;
  width: 10%;
  border-radius: 50%;
}

.first {
  padding-top: 40px;
}

#courses {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}

#skills {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}

#project {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
}

.project-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.logo-viroll {
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  font-family: "VIROLL-logo" !important;
  font-size: 1.7em;
}

.date-sub {
  font-size: 0.8em;
}

.flex-images {
  margin: 0px 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.screenshot {
  margin: 10px;
  width: 15%;
}
.caption {
  font-size: 0.6em;
}

.uplink-logo {
  font-family: "Uplink-logo" !important ;
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.standard {
  font-family: "OpenSans-Black" !important;
  font-size: 1.8em;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  min-height: 20vh;
}

.socials {
  margin: 0px 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 1.6em;
}

@media screen and (max-width: 1400px) {
  .img {
    width: 15%;
  }
  .screenshot {
    width: 16%;
  }
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 1.7em;
  }
  body {
    font-size: 1.2em;
  }
  .logo-viroll {
    font-size: 1.5em;
  }
  .uplink-logo {
    font-size: 1.7em;
  }
  .standard {
    font-size: 1.5em;
  }

  p {
    padding: 20px 0px;
  }
  .item {
    padding: 10px 0px;
  }

  section {
    margin-top: 0;
    height: 90vh;
  }

  #about {
    padding: 50px 0;
  }

  #courses {
    padding: 50px 0;
  }

  #skills {
    padding: 50px 0;
  }

  #project {
    padding: 50px 0;
  }

  .flex-images {
    justify-content: space-evenly;
  }

  .screenshot {
    width: 20%;
  }
  .sub {
    padding: 15px 0;
  }

  .img {
    width: 25%;
  }

  .first {
    padding-top: 30px;
  }

  .socials {
    margin: 0 20%;
  }
}

@media screen and (max-width: 650px) {
  .img {
    width: 35%;
  }
  .screenshot {
    width: 45%;
    margin: 10px 0;
  }
}
